/* Estilos generales */
#root {
  margin: 0 ;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(255, 249, 199);
  width: 100%; 
  display: flex;
  flex-direction: column; 
}

body, html {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

/* Estilos para el carrito */

.cart-container {
  max-width: 90%;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pizza-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.pizza-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
}

.pizza-details {
  display: flex;
  flex-direction: row;
  align-items: center;  
} 

.pizza-price {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.pizza-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pizza-count {
  font-size: 1.2rem;
  margin: 0 10px;
  font-weight: bold;
}

.btn-agregar, .btn-quitar {
  padding: 5px 10px;
  color: #000000;
  font-weight: bold;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.btn-agregar {
  border: 2px solid #28a745;
}

.btn-quitar {
  border: 2px solid #f3616f;
}

.btn-agregar:hover  {
  background-color: #4be47e;
  border: 2px solid #4be47e;
}

.btn-quitar:hover {
  background-color: #f3616f;
  border: 2px solid #f3616f;
}

.btn-pay {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 20px 0 0;
}

.btn-pay:hover {
  background-color: #218838;
}


/* Estilos para el mensaje de éxito o error */
.checkout-message {
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

.checkout-message.success {
  background-color: #28a745; /* Verde para éxito */
}

.checkout-message.error {
  background-color: #f3616f; /* Rojo para error */
}

/* Animación de entrada */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/* Estilos para el encabezado */

.header{
  background-image:url(../src/assets/img/Header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 100%;
  margin-top: 900px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.header p {
  font-size: 1.5rem;
  color: #ffffff;
}

/* Estilos para cards */

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card-pizza-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card-pizza {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  margin: 20px;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-pizza-body {
  padding: 30px;
}

.card-pizza-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.card-pizza-subtitle {
  font-size: 1.1rem;
  color: #6c757d;
}

.card-pizza-ingredients {
  list-style-type: none;
  padding: 25px;
  text-align: left;
}

.card-pizza-ingredients li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-pizza-price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #28a745;
  margin-top: 10px;
}

.card-pizza-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.card-pizza-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Estilos para info de pizzas */

.box {
  margin-top: 50px;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.box img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.box img:hover {
  transform: scale(1.05);
}

.box h1 {
  font-size: 2rem;
  margin: 15px 0;
  color: #333;
}

.box p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 15px;
  padding: 20px;
}

.box ul {
  list-style: none;
  margin-left: 20px;
  padding: 0;
  text-align: left;
}

.box ul li {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.box h3 {
  font-size: 1.5rem;
  color: #28a745;
  margin: 20px 0;
}

.box button {
  background-color: #343a40;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.box button:hover {
  background-color: #212529;
}


/* Estilos para formularios */

.register-container, .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  width: 80%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.852);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto 20px auto;
}

.register-form, .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-form label, .login-form label {
  margin-bottom: 10px;
}

.register-form input, .login-form input {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.register-form button, .login-form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.sing-up, .sing-in{
  margin: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.852);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

/* Estilos para perfil */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15em auto;
  max-width: 400px;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.profile button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile button:hover {
  background-color: #d63c3c;
}

/* Estilos NotFound */

.not-found {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
}

.not-found h1 {
  font-size: 3rem;
  color: #ff4d4d;
}

.error{
  width: 20%;
  height: 350px;
  border-radius: 8px;
}
.not-found p {
  font-size: 1.2rem;
  color: #666;
}

.home-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 2rem;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.home-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Estilos para el pie de pagina */

.footer{
  background-color: rgba(0, 0, 0, 0.852);
  color:#fff;
  text-align: center;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}